* {
  box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  min-height: 100vh;
  width: 100%;
  background: #2c1015;
  background: -moz-linear-gradient(45deg, #2c1015 0%, #111111 44%, #0f2c38 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, #2c1015), color-stop(44%, #111111), color-stop(100%, #0f2c38));
  background: -webkit-linear-gradient(45deg, #2c1015 0%, #111111 44%, #0f2c38 100%);
  background: -o-linear-gradient(45deg, #2c1015 0%, #111111 44%, #0f2c38 100%);
  background: -ms-linear-gradient(45deg, #2c1015 0%, #111111 44%, #0f2c38 100%);
  background: linear-gradient(45deg, #2c1015 0%, #111111 44%, #0f2c38 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c1015', endColorstr='#0f2c38', GradientType=1 ); }

@font-face {
  font-family: 'Brush';
  src: url("font/brush.woff");
  src: local("Brush"), url("font/brush.woff") format("woff"), url("font/brush.woff") format("truetype"); }
.container {
  max-width: 1920px; }

.content {
  width: 1024px;
  margin: 0 auto;
  text-align: center; }

h1 {
  text-align: center;
  font-size: 29px;
  color: white; }

.quarterFinals {
  text-align: center;
  width: 100%; }
  .quarterFinals h4 {
    display: inline-block;
    font-size: 21px;
    color: #ff0e07;
    margin: 0; }

.semiFinals {
  text-align: center;
  width: 100%;
  position: relative;
  top: 99px; }
  .semiFinals h5 {
    display: inline-block;
    font-size: 21px;
    color: #ff0e07;
    margin: 0; }

.finalH6 {
  text-align: center;
  width: 100%; }
  .finalH6 h6 {
    display: inline-block;
    font-size: 21px;
    color: #ff0e07;
    margin: 0; }

.poolLadder {
  display: inline-block;
  /* flex-wrap: wrap; */
  /* justify-content: center; */
  padding: 0;
  width: calc(25% - 10px);
  text-align: center; }
  .poolLadder li {
    background-color: white;
    padding: 20px;
    display: inline-block;
    margin: 13px;
    height: 110px;
    max-width: 255px;
    position: relative;
    text-align: center; }
    .poolLadder li .insidePool {
      margin-top: -17px; }
    .poolLadder li h3 {
      margin-top: -7px; }
    .poolLadder li p {
      font-size: 12px;
      margin: 0;
      min-width: 176px; }
    .poolLadder li img:nth-of-type(2) {
      margin: 0 5px 0 10px; }
    .poolLadder li::after {
      content: "";
      position: absolute;
      background-color: #ff0e07;
      height: 83px;
      left: calc(50% - 1px);
      top: 100%;
      width: 2px; }
  .poolLadder .poolNames {
    text-align: center; }
    .poolLadder .poolNames h2 {
      text-align: center;
      display: inline-block;
      font-size: 21px;
      color: #ff0e07;
      margin: 0; }

.quarterFinalsLadder {
  display: inline-block;
  padding: 0;
  width: calc(25% - 12px);
  text-align: center; }
  .quarterFinalsLadder li {
    background-color: white;
    padding: 20px;
    display: inline-block;
    margin: 13px;
    height: 110px;
    max-width: 255px;
    position: relative;
    text-align: center; }
    .quarterFinalsLadder li .insidePool {
      margin-top: -17px; }
    .quarterFinalsLadder li h3 {
      margin-top: -7px; }
    .quarterFinalsLadder li p {
      font-size: 12px;
      margin: 0;
      min-width: 176px; }
    .quarterFinalsLadder li img:nth-of-type(2) {
      margin: 0 5px 0 10px; }
    .quarterFinalsLadder li::after {
      content: "";
      position: absolute;
      background-color: #ff0e07;
      height: 60px;
      left: calc(50% - 1px);
      top: 100%;
      width: 2px; }
    .quarterFinalsLadder li .quarterFinalsHr {
      color: #f00;
      background: #f00;
      width: 259px;
      height: 3px;
      position: absolute;
      left: 12%;
      top: 297px; }

.semiFinalsLadder {
  display: inline-block;
  padding: 10px;
  width: calc(50% - 19px);
  text-align: center; }
  .semiFinalsLadder li {
    background-color: white;
    padding: 20px;
    display: inline-block;
    margin: 13px;
    height: 110px;
    max-width: 249px;
    position: relative;
    text-align: center; }
    .semiFinalsLadder li .insidePool {
      margin-top: -17px; }
    .semiFinalsLadder li h3 {
      margin-top: -7px; }
    .semiFinalsLadder li p {
      font-size: 12px;
      margin: 0;
      min-width: 176px; }
    .semiFinalsLadder li img:nth-of-type(2) {
      margin: 0 5px 0 10px; }
    .semiFinalsLadder li::before {
      content: "";
      position: absolute;
      background-color: #ff0e07;
      height: 32px;
      left: calc(50% - 1px);
      bottom: 100%;
      width: 2px; }
    .semiFinalsLadder li::after {
      content: "";
      position: absolute;
      background-color: #ff0e07;
      height: 32px;
      left: calc(50% - 1px);
      top: 100%;
      width: 2px; }
    .semiFinalsLadder li .line {
      content: "";
      position: absolute;
      background-color: #ff0e07;
      height: 2px;
      left: 0;
      width: 100%; }
      .semiFinalsLadder li .line.top {
        top: -33px;
        left: 1px; }
      .semiFinalsLadder li .line.bottom {
        bottom: -33px;
        left: -50%; }
        .semiFinalsLadder li .line.bottom.right {
          right: -50%;
          left: auto; }

.finalLadder {
  display: inline-block;
  padding: 0;
  width: 100%;
  text-align: center; }
  .finalLadder li {
    border: 1px solid white;
    background-color: white;
    padding: 20px;
    display: inline-block;
    margin: 13px;
    height: 110px;
    max-width: 255px;
    position: relative;
    text-align: center; }
    .finalLadder li .insidePool {
      margin-top: -17px; }
    .finalLadder li h3 {
      margin-top: -7px; }
    .finalLadder li p {
      font-size: 12px;
      margin: 0;
      min-width: 176px; }
    .finalLadder li img:nth-of-type(2) {
      margin: 0 5px 0 10px; }
    .finalLadder li::before {
      content: "";
      border: 1px solid #ff0e07;
      position: absolute;
      background-color: #ff0e07;
      width: 32px;
      left: 42%;
      transform: rotate(90deg);
      top: -18%; }

/*# sourceMappingURL=styles.css.map */
